<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}PC Parts{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Верхняя шапка сайта -->
    <header class="text-white py-3">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h1 class="h3">PC Parts</h1>
                <nav>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{{ url_for('index') }}">Главная страница</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{{ url_for('login') }}">Вход</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{{ url_for('register') }}">Регистрация</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{{ url_for('catalog') }}">Каталог</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <!-- Основное содержимое страницы -->
    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
