{% extends "base.html" %}

{% block title %}{{ page_name }}{% endblock %}

{% block content %}
    <style>
        /* Стили для скрытой формы */
        .hidden {
            display: none;
        }

    </style>
    <div class="jumbotron">
            <button class="btn btn-primary mb-3" style="background-color: #40004a;" onclick="toggleForm()">+</button>
            {% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}
<div id="form-container" class="form-signin container-sm hidden">
<form method="POST" action="{{ url_for(type) }}" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
        {% for field in form %}
            {% if field.name != 'csrf_token' %}
                <div>
                    <a>{{ field.label }}</a> <p>{{ field }}</p>
                </div>
            {% endif %}
        {% endfor %}
    <input class="btn btn-primary d-inline-flex align-items-center" style="background-color: #40004a;" type="submit" value="Добавить">
</form>
</div>
<div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            {% for row in rows %}
            <div class="col-md-3" id="container-{{ row[0] }}">
              <div class="card mb-4 box-shadow">
                  {% if row[-1] %}
                <img class="card-img-top"style="height: 225px; width: 100%; display: block;" src="uploads/{{ row[-1] }}" data-holder-rendered="true">
                  {% elif row[-1] == None %}
                              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Пусто</text></svg>
                    {% endif %}
                  <div class="card-body">
                    {% for col in row %}
                      {% if col != row[-1] and col != row[0] %}
                  <p>{{ col }}</p>
                      {% endif %}
                    {% endfor %}
                      <button class="delete-btn btn btn-sm btn-danger" data-id="{{ row[0] }}" page-type="{{ type }}">Удалить</button>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <script>
        // Функция для показа/скрытия формы
        function toggleForm() {
            const form = document.getElementById('form-container');
            if (form.classList.contains('hidden')) {
                form.classList.remove('hidden');
            } else {
                form.classList.add('hidden');
            }
        }


        document.querySelectorAll('.delete-btn').forEach(button => {
    button.addEventListener('click', function() {
        const recordId = this.getAttribute('data-id');
        const typeP = this.getAttribute('page-type');
        const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');  // Получаем CSRF токен

        const userConfirmed = confirm("Вы уверены, что хотите удалить эту запись?");
        if (!userConfirmed) {
            return; // Если пользователь отменил, выходим из функции
        }

        fetch(`/delete_record/${typeP}/${recordId}`, {
            method: 'POST',  // Используем POST запрос
            headers: {
                'Content-Type': 'application/json',  // Тип контента
                'X-CSRFToken': csrfToken  // Отправка CSRF токена в заголовке
            },
            body: JSON.stringify({})  // Тело запроса (можно оставить пустым, если не нужно)
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                window.location.reload();
            } else {
                console.error(data.message);
            }
        })
        .catch(error => console.error('Ошибка:', error));
    });
});
    </script>
{% endblock %}
