{% extends "base.html" %}

{% block title %}Вход{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Окно входа</h1>
        <hr class="my-4">


<main class="form-signin container-sm">
<form method="POST" action="{{ url_for('login') }}">
    {{ form.csrf_token }}
    <p>{{ form.login.label }}</p>
    <p>{{ form.login(size=20) }}</p>
    <p>{{ form.password.label }}</p>
    <p>{{ form.password(size=20) }}</p>
    <input type="submit" value="Войти">
</form>
    {% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}
         </div>
{% endblock %}